<div class="text-center mt-4">
    <h1 class="display-4 text-primary mb-0">Today's tasks</h1>
    <h4 class="text-body-secondary">@DateTime.Today.ToString("dd.MM.yyyy")</h4>
    <p>Task list</p>
    <p>Task list</p>
    <p>Task list</p>
</div>
